.containerBotonesAgregar {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.Agregar, .AgregarAPI {
    all: unset; 
    border-radius: 6px;
    color: white;
    padding: 1.7vh;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.Agregar {
    background-color: rgb(44, 112, 231);
    margin-left: 10vh;
}

.Agregar:hover{
    color: #ececec;
    background-color: rgb(19, 76, 176);
    cursor: pointer;
}

.AgregarAPI {
    background-color: rgb(91, 91, 91);
}

.AgregarAPI:hover{
    color: #ececec;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.char-count {
    font-size: 0.75rem; 
    margin-bottom: 10px;
    color: #5e5e5e; 
}

.significadoAsterisco{
    font-size: 0.75rem;
    margin-top: 25px;
    color: #5e5e5e;
}
.text-area{
    max-width: 100%; 
    max-height: 500px; 
    width: 100%; 
    height: fit-content; 
    overflow: auto; 
    resize: vertical; /* Permitir solo el redimensionamiento vertical */
}

.author-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute; /* Superponer el dropdown */
    background-color: white;
    width: 100%; /* Asegurarse de que ocupe el mismo ancho que el input */
    z-index: 1000; /* Superponer sobre otros elementos */
}

.author-suggestions li {
    padding: 8px;
    cursor: pointer;
}

.author-suggestions li:hover {
    background-color: #f0f0f0;
}

/* Asegurarse de que el contenedor del input tenga posición relativa para posicionar bien el dropdown */
.form-group {
    position: relative;
}
