.containerBotonesAgregar {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.Agregar, .AgregarAPI {
    all: unset; 
    border-radius: 6px;
    color: white;
    padding: 1.7vh;
    margin: 0 10px; 
}

.Agregar {
    background-color: rgb(44, 112, 231);
    margin-left: 10vh;
}

.Agregar:hover{
    color: #ececec;
    background-color: rgb(24, 91, 206);
    cursor: pointer;
}

.AgregarAPI {
    background-color: rgb(91, 91, 91);
}

.AgregarAPI:hover{
    color: #ececec;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.char-count {
    font-size: 0.75rem; 
    margin-bottom: 10px;
    color: #5e5e5e; 
}

.significadoAsterisco{
    font-size: 0.75rem;
    margin-top: 25px;
    color: #5e5e5e;
}
  