html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Barlow';
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #333;
  min-width: 100vh;
  min-height: 100vh;
}

header {
  background: rgb(50,40,226);
    background: linear-gradient(90deg, rgba(50,40,226,1) 0%, rgba(194,0,173,1) 100%);
  color: white;
  padding: 10px;
  text-align: center;
  min-width: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12vh;
}

.brand {
  font-weight: 300;
  margin: 0;
  font-size: 28px;
  text-decoration-line: none;
  color: white;
  font-weight: 400;
}

.nav-buttons {
  display: flex; 
  align-items: center;
  gap: 10vh;
  padding-right: 12vh;
}

.nav-buttons, button {
  color: #131313;
  background: none;
  padding: 10px 15px;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons button:hover {
  color: #1f0caf;
}

main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}



.section-buttons {
  border: 2px #0330ac solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #ffffff00;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .5%;
  color: #0330ac;
}