.form-container {

  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .form-container {
  background-color: #333;
  color: #ddd;
}

.form-title {
  text-align: center;
  color: #0097db;
  margin-bottom: 20px;
}

.dark-mode .form-title {
  color: #ddd;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 5px;
  color: #333;
}

.dark-mode .form-label {
  color: #ddd;
}

.form-input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #0097db;
  outline: none;
}

.form-button {
  padding: 10px;
  color: white;
  background-color: #0097db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #007bb5;
}